@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
input {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/* header */
.header {
    background-color: #023E8A;
    color: white;
    font-size: 36px;
    font-weight: 500;
    padding: 10px 0;
}

/* hero section */
.hero-section {
    padding: 60px 0 50px 0;
}

.hero-section h2 {
    font-size: 42px;
    font-weight: 500;
    padding-bottom: 30px;
}

.search_bar {
    width: 100%;
    max-width: 754px;
    padding: 0 20px;
    margin: 0 auto;
}

.search_bar input {
    background-color: #CAF0F8;
    color: black;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    border: 0;
    outline: 0;
    border-radius: 5px 0 0 5px;
    transition: 1s;
}

input::placeholder {
    color: black;
}

.search_bar button {
    padding: 10px 14px;
    border: 0;
    font-size: 18px;
    border-radius: 0 5px 5px 0;
    background-color: #00B4D8;
    transition: 0.5s all;
    color: white;
}

.search_bar button:hover {
    background-color: #0077B6;
}

/* imgGrid */
.contain {
    columns: 3;
    column-gap: 5px;
    width: 92%;
    margin: 0 auto;
}

.image {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.image::before {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    opacity: 0;
    transition-property: top, opacity;
    transition-duration: 0.3s;
}

.image:hover::before {
    opacity: 1;
    top: 50%;
}

.image img {
    display: block;
    width: 100%;
    height: auto;
}

.detail {
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.detail p {
    font-size: 16px;
    font-weight: 400;
    color: white;
    margin-left: 10px;
}

.detail a {
    display: inline-block;
    background-color: #00B4D8;
    font-size: 18px;
    padding: 4px 15px;
    border-radius: 2px;
    color: white;
    margin-right: 10px;
    transition: 0.5s;
}

.image:hover .detail {
    bottom: 0;
}

.detail a:hover {
    background-color: #0077B6;
}

/* pagination */
.pagbutton {
    /* background-color: black; */
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.pagbutton button {
    color: white;
    display: inline-block;
    padding: 8px 32px;
    background-color: #023E8A;
    border: 0;
    border-radius: 4px;
    transition: 0.5s;
}

.pagbutton button:hover {
    background-color: #03045E;
}

/* footer */
.footer{
    background-color: #03045E;
}
.footer p a {
    color: white;
    transition: all 0.5s;
    display: inline-block;
}

.footer p a::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: all 0.3s;
    transform: scaleX(0);
    transform-origin: left;
}

.footer p a:hover {
    color: white;
    transition: all 0.5s;
    transform: translateX(5px);
}

.footer p a:hover::after {
    transition: all 0.3s;
    transform: scaleX(1);
    transform-origin: left;
}

/* responsive tablet */
@media only screen and (max-width: 768px) {

    /* imgGrid */
    .contain {
        columns: 2;
    }
}

/* responsive mobile */
@media only screen and (max-width:425px) {

    /* imgGrid */
    .contain {
        columns: 1;
    }
}